body {
	  background:#2d3b36 url(ali.jpg)no-repeat center center fixed;
  	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

form {
	font-family:Lucida Grande;
    width: 24%;
    height: 70%;
    padding:30px;
    border: 1px solid rgba(0,0,0,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: rgba(0, 0, 0, 0.5); 
    -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
}
input{
	 width: 276px;
    height: 40px;
	 color: white;
		font-weight: bolder;
	 border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

textarea{
	  background: rgba(255, 255, 255, 0.4); 
    width: 276px;
    height: 110px;
    border: 1px solid rgba(255,255,255,.6);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:45px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:auto;
}
input[type=submit] {
    cursor:pointer;
    float:left
}

input[type=button] {
    cursor:pointer;
    float:right;
}

input.hero {
	  background: rgba(255, 255, 255, 0.4) ; 
	  padding-left:45px;
}
input.local {
	  background: rgba(255, 255, 255, 0.4) ; 
	  padding-left:45px;
}

input.honor {
	  background: rgba(255, 255, 255, 0.4) ;
	  padding-left:45px;
}

input.message {
	  background: rgba(255, 255, 255, 0.4) ;
	  padding-left:45px;
}

::-webkit-input-placeholder {
	  color: #fff;
}

:-moz-placeholder{ 
    color: #fff; 
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {  
	  color: #fff; 
}

input:focus, textarea:focus { 
	  background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
	  overflow: hidden; 
}

.btn {
	  width: 138px;
	  height: 44px;
	  -moz-border-radius: 4px;
	  -webkit-border-radius: 4px;
	  border-radius: 4px;
    border: 1px solid #253737;
    background: #E7898A;
    background: -webkit-gradient(linear, left top, left bottom, from(#D25156), to(#E7898A));
    background: -webkit-linear-gradient(top, #D25156, #E7898A);
    background: -moz-linear-gradient(top, #D25156, #E7898A);
    background: -ms-linear-gradient(top, #D25156, #E7898A);
    background: -o-linear-gradient(top, #D25156, #E7898A);
    background-image: -ms-linear-gradient(top, #D25156 0%, #E7898A 100%);
    padding: 10.5px 21px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
}

.btn:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: #E7898A;
    background: -webkit-gradient(linear, left top, left bottom, from(#1F1E26), to(#E7898A));
    background: -webkit-linear-gradient(top, #1F1E26, #E7898A);
    background: -moz-linear-gradient(top, #1F1E26, #E7898A);
    background: -ms-linear-gradient(top, #1F1E26, #E7898A);
    background: -o-linear-gradient(top, #1F1E26, #E7898A);
    background-image: -ms-linear-gradient(top, #1F1E26 0%, #E7898A 100%);
    color: #fff;
 }

.btn:active {
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #253737;
    background: #D25156;
    background: -webkit-gradient(linear, left top, left bottom, from(#E7898A), to(#E7898A));
    background: -webkit-linear-gradient(top, #E7898A, #609391);
    background: -moz-linear-gradient(top, #E7898A, #D25156);
    background: -ms-linear-gradient(top, #E7898A, #D25156);
    background: -o-linear-gradient(top, #E7898A, #D25156);
    background-image: -ms-linear-gradient(top, #E7898A 0%, #D25156 100%);
    color: #fff;
    -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
   }


